.App {
  text-align: center;
}

.Navbar-custom {
  background-color: #27214f;
  color:#ecf2f4;
}
.Title-text {
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  color:white;
}

.outlineText
{
    color: white;
    text-shadow:
    -0.5px -0.5px 0 white,
    0.5px -0.5px 0 white,
    -0.5px 0.5px 0 white,
    0.5px 0.5px 0 white;  
}